---
import RootLayout from "../../../layouts/RootLayout.astro";
import { getCollection } from "astro:content";

import type { Languages, Tags } from "../../../common/types";
import { printPageTitle } from "../../../common/functions";
const { language, tag } = Astro.params as { language: Languages; tag: Tags };

const posts = await getCollection(`${language}Posts`);
const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));
const title = printPageTitle(Astro.url.pathname, language);

console.log(Astro.params);
// if (!tag) {
//   return Astro.redirect(`/${language}/blog`);
// }
---

<RootLayout title={title}>
  <div class="mx-auto max-w-4xl px-2">
    <ul>
      {
        filteredPosts.map((post) => (
          <li>
            <a href={`/${language}/blog/${post.data.slug}`}>
              <div>{post.data.title}</div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</RootLayout>
