---
import { Image } from 'astro:assets';
import turtle from '../../assets/turtle.jpg';
import goldenGateBridge from '../../assets/golden-gate-bridge.jpg';
import clovers from '../../assets/clovers.jpg';

const characteristics = [
	{
		name: 'Turtle',
		isRtl: false,
		title: 'I am a turtle who never stops',
		descriptions: ['Although I am not fast like a rabbit.', 'Nobody can stop me.', 'I will achieve a goal eventually.'],
		imageSrc: turtle,
		imageAlt: 'turtle',
	},
	{
		name: 'Dream',
		isRtl: true,
		title: 'I always dream',
		descriptions: [
			'My dream is becoming a fullstack engineer.',
			'who can speak four languages.',
			'I will work for the people around the world.',
		],
		imageSrc: goldenGateBridge,
		imageAlt: 'turtle',
	},
	{
		name: 'Effort',
		isRtl: false,
		title: 'I grow everyday',
		descriptions: [
			"I believe in everyday's discipline",
			'I like to challenge itself',
			'but what I like more is preparing to challenge',
		],
		imageSrc: clovers,
		imageAlt: 'turtle',
	},
];
---

<section class="characteristics" id="characteristics">
	<ul class="characteristics__list flex flex-col gap-7">
		{
			characteristics.map((characteristic) => (
				<li
					class:list={[{ '[direction:rtl]': characteristic.isRtl }]}
					class="characteristics__characteristic grid grid-cols-[52.5%_auto] gap-x-7 grid-flow-col"
				>
					<Image src={characteristic.imageSrc} alt={characteristic.imageAlt} />
					<div class="characteristics__characteristic__texts" class:list={[{ 'text-right': characteristic.isRtl }]}>
						<p class="texts__name text-7xl text-hotpink font-bold">{characteristic.name}</p>
						<p class="texts__title text-5xl mt-4 text-yellow">{characteristic.title}</p>
						<div class="text__descriptions text-3xl mt-3 font-light" class:list={[{ '[direction:ltr]': characteristic.isRtl }]}>
							{characteristic.descriptions.map((description) => (
								<p class="texts__descriptions__description">{description}</p>
							))}
						</div>
					</div>
				</li>
			))
		}
	</ul>
</section>
