---
import { Image } from 'astro:assets';
import { characteristics } from '../../common/variables';
---

<section id="characteristics">
	<ul class="flex flex-col gap-5">
		{
			characteristics.map((characteristic) => (
				<li class:list={[{ '[direction:rtl]': characteristic.isRtl }]} class="grid grid-cols-[42.5%_auto] gap-x-3 grid-flow-col">
					<Image src={characteristic.imageSrc} alt={characteristic.imageAlt} />
					<div class:list={[{ 'text-right': characteristic.isRtl }]}>
						<p class="lg:text-6xl md:text-4xl text-hotpink font-bold">{characteristic.name}</p>
						<p class="lg:text-4xl md:text-3xl mt-3 text-yellow1">{characteristic.title}</p>
						<div class="lg:text-2xl md:text-2xl mt-2 font-light" class:list={[{ '[direction:ltr]': characteristic.isRtl }]}>
							{characteristic.descriptions.map((description) => (
								<p>{description}</p>
							))}
						</div>
					</div>
				</li>
			))
		}
	</ul>
</section>
