---
import { Image } from 'astro:assets';
import turtle from '../../assets/turtle.jpg';
import goldenGateBridge from '../../assets/golden-gate-bridge.jpg';
import clovers from '../../assets/clovers.jpg';

const characteristics = [
	{
		name: 'Turtle',
		isRtl: false,
		title: 'I am a turtle who never stops',
		descriptions: ['Although I am not fast like a rabbit.', 'Nobody can stop me.', 'I will achieve a goal eventually.'],
		imageSrc: turtle,
		imageAlt: 'turtle',
	},
	{
		name: 'Dream',
		isRtl: true,
		title: 'I always dream',
		descriptions: [
			'My dream is becoming a fullstack engineer.',
			'who can speak four languages.',
			'I will work for the people around the world.',
		],
		imageSrc: goldenGateBridge,
		imageAlt: 'turtle',
	},
	{
		name: 'Effort',
		isRtl: false,
		title: 'I grow everyday',
		descriptions: [
			"I believe in everyday's discipline",
			'I like to challenge itself',
			'but what I like more is preparing to challenge',
		],
		imageSrc: clovers,
		imageAlt: 'turtle',
	},
];
---

<section id="characteristics">
	<ul class="flex flex-col gap-7">
		{
			characteristics.map((characteristic) => (
				<li class:list={[{ '[direction:rtl]': characteristic.isRtl }]} class="grid grid-cols-[52.5%_auto] gap-x-7 grid-flow-col">
					<Image src={characteristic.imageSrc} alt={characteristic.imageAlt} />
					<div class:list={[{ 'text-right': characteristic.isRtl }]}>
						<p class="text-7xl text-hotpink font-bold">{characteristic.name}</p>
						<p class="text-5xl mt-4 text-yellow1">{characteristic.title}</p>
						<div class="text-3xl mt-3 font-light" class:list={[{ '[direction:ltr]': characteristic.isRtl }]}>
							{characteristic.descriptions.map((description) => (
								<p>{description}</p>
							))}
						</div>
					</div>
				</li>
			))
		}
	</ul>
</section>
