---
import { educationAndCareer, componentTitles } from "../../common/htmlElements";
import type { Languages } from "../../common/types";
const { language } = Astro.props as { language: Languages };
const componentTitle = componentTitles["educationAndCareer"][language];
---

<section id="educationandcareer" class="pt-15">
  <h2 class="text-rosewater text-4xl font-bold">
    {componentTitle}
  </h2>

  <ul class="mt-5 flex flex-col gap-10">
    {
      educationAndCareer.data.map((object) => (
        <li class="after:bg-gray3 relative rounded-4xl border-4 p-4 after:absolute after:-bottom-12 after:left-1/2 after:h-11 after:w-1 after:translate-x-[-50%] after:content-[''] last-of-type:after:content-none sm:p-8">
          {object.data
            .filter((item) => item.language === language)
            .map((smallItem) => (
              <div>
                <p class="text-3xl font-bold sm:text-4xl">{smallItem.name}</p>
                <div class="mx-4 mt-3">
                  <p class="text-2xl font-bold text-gray-200 opacity-80 sm:text-3xl">{smallItem.department}</p>
                  <p class="text-lg text-gray-400 opacity-80 sm:text-xl">{smallItem.date}</p>
                  <ul class="mt-5 text-lg text-gray-300 sm:text-xl">
                    {smallItem.duty.map((item) => (
                      <li>{item}</li>
                    ))}
                  </ul>
                </div>
              </div>
            ))}
        </li>
      ))
    }
  </ul>
</section>
