---
import { educationAndCareer, componentTitles } from "../../common/htmlElements";
import type { Languages } from "../../common/types";
const { language } = Astro.props as { language: Languages };
const componentTitle = componentTitles["educationAndCareer"][language];
---

<section id="educationandcareer" class="pt-15">
  <h2 class="text-green2 dark:text-rosewater text-2xl font-extrabold">
    {componentTitle}
  </h2>

  <ul class="mt-5 flex flex-col gap-10">
    {
      educationAndCareer.data.map((object, i) => (
        <li class="dark:border-gray3 border-green2 relative rounded-4xl border-4 p-4 sm:p-8" data-fadeup>
          {i !== educationAndCareer.data.length - 1 && (
            <span
              class="line bg-green2 dark:bg-gray3 absolute -bottom-12 left-1/2 h-11 w-1 origin-top -translate-x-1/2"
              data-fadeup-line
            />
          )}
          <img
            src={`/src/assets/educationAndCareer/${object.image}`}
            alt=""
            class="absolute top-2 right-2 w-12 rounded-full bg-white sm:w-16"
            data-fadeup-logo
          />
          {object.data
            .filter((item) => item.language === language)
            .map((smallItem) => (
              <div class="relative">
                <p class="dark:text-gray3 text-xl font-bold text-slate-950" data-fadeup-name>
                  {smallItem.name}
                </p>
                <div class="mx-4 mt-3">
                  <p class="text-lg font-bold text-slate-800 opacity-80 dark:text-gray-200" data-fadeup-department>
                    {smallItem.department}
                  </p>
                  <p class="text-sm text-slate-700 opacity-80 dark:text-gray-400" data-fadeup-date>
                    {smallItem.date}
                  </p>
                  <ul class="mt-2 text-base leading-5 text-stone-600 dark:text-gray-300" data-fadeup-description>
                    {smallItem.duty.map((item) => (
                      <li>{item}</li>
                    ))}
                  </ul>
                </div>
              </div>
            ))}
        </li>
      ))
    }
  </ul>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { ScrollToPlugin } from "gsap/ScrollToPlugin";
  gsap.registerPlugin(ScrollTrigger, ScrollToPlugin);

  const fadeupElements = document.querySelectorAll("[data-fadeup]");

  fadeupElements.forEach((element) => {
    const scrollTrigger = {
      scrollTrigger: {
        trigger: element,
        start: "top 80%",
        // markers: true,
      },
    };
    const tl = gsap.timeline(scrollTrigger);
    const fadeupOption = {
      duration: 0.3,
      autoAlpha: 0,
    };
    tl.from(element.querySelector("[data-fadeup-name]"), fadeupOption) //
      .from(element.querySelector("[data-fadeup-department]"), fadeupOption) //
      .from(element.querySelector("[data-fadeup-date]"), fadeupOption) //
      .from(element.querySelector("[data-fadeup-description]"), fadeupOption); //
  });

  window.addEventListener("resize", () => {
    ScrollTrigger.refresh();
  });
</script>
