---
import type { GetStaticPaths } from "astro";
import { getCollection, getEntry, render } from "astro:content";
import RootLayout from "../../../layouts/RootLayout.astro";
import Prose from "../../../layouts/Prose.astro";
import { tags } from "../../../common/types";
import { collectionMap } from "../../../common/types";
import { isStringLanguage, printPageTitle } from "../../../common/functions";
import type { Languages, TagKey, TagTranslations } from "../../../common/types";

const { slug } = Astro.params as { slug: string };
const { language } = Astro.params as { language: Languages };

if (!isStringLanguage(language)) {
  return Astro.redirect("/", 301);
}

const entry = await getEntry(collectionMap[language], `${slug}/${language}`);

if (!entry) {
  return Astro.redirect(`/${language}/blog/`);
}

const tagKeys = entry.data.tags as string[];
const title = printPageTitle(Astro.url.pathname, language, entry.data.title);

let tagsArray: TagTranslations[] = [];

tagKeys.forEach((tagName) => {
  (Object.keys(tags) as TagKey[]).forEach((tagNameInObject) => {
    if (tags[tagNameInObject][language] === tagName) {
      tagsArray.push(tags[tagNameInObject]);
    }
  });
});

const { Content } = await render(entry);

export const getStaticPaths = (async () => {
  const languages: Languages[] = ["en", "ko", "ja"];
  const paths = [];
  for (const lang of languages) {
    const posts = await getCollection(collectionMap[lang]);
    for (const post of posts) {
      paths.push({ params: { language: lang, slug: post.id.split("/")[0] } });
    }
  }
  return paths;
}) satisfies GetStaticPaths;
---

<RootLayout title={title}>
  <Prose>
    <div
      class="dark:bg-green1 bg-rosewater dark:border-gray3 border-green2 relative z-10 rounded-4xl border-4 p-5 sm:p-10"
    >
      <h2 class="mt-0">{entry.data.title}</h2>
      <p class="dark:text-gray-400">
        {
          entry.data.pubDate.toLocaleDateString(`${language}`, {
            weekday: "long",
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </p>
      <ul class="flex gap-4 p-0">
        {
          tagsArray.map((tag) => (
            <li class="dark:bg-green1 bg-rosewater flex list-none items-center justify-center pl-0">
              <a
                class="text-green2 dark:text-gray3 dark:border-gray3 border-green2 rounded-xl border-2 p-1"
                href={`/${language}/tags/${tag["en"].toLowerCase()}`}
              >
                {tag[language]}
              </a>
            </li>
          ))
        }
      </ul>
      <Content />
    </div>
  </Prose>
</RootLayout>
