---
import RootLayout from "../../../layouts/RootLayout.astro";
import { getCollection } from "astro:content";

import type { Languages } from "../../../common/types";
import { printPageTitle } from "../../../common/functions";
const { language } = Astro.params as { language: Languages };

const posts = await getCollection(`${language}Posts`);
const title = printPageTitle(Astro.url.pathname, language);
---

<RootLayout title={title}>
  <div class="mx-auto max-w-4xl px-2">
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/${language}/blog/${post.data.slug}`}>
              <div>{post.data.title}</div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</RootLayout>
