---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import NavModal from "../components/modal/Nav.astro";
import FetchProcessingModal from "../components/modal/FetchProcessing.astro";
import FetchCompleteModal from "../components/modal/FetchComplete.astro";
import FetchErrorModal from "../components/modal/FetchError.astro";
import MenuButton from "../components/MenuButton.astro";
const { language } = Astro.props;
---

<section
  id="max-width-wrapper"
  class=`text-gray3 font-${language} mx-auto flex min-h-lvh max-w-7xl flex-col justify-between px-5 py-4 duration-1000 opacity-0`
  data-reveal-on-load
>
  <Header language={language} />
  <section
    id="slot-wrapper"
    class="py-8 opacity-0 duration-1000 md:py-14"
    data-reveal-on-load-delayed="500"
    data-root-wrapper
  >
    <slot />
  </section>
  <Footer language={language} />
  <NavModal language={language} />
  <FetchProcessingModal language={language} />
  <FetchCompleteModal language={language} />
  <FetchErrorModal language={language} />
  <MenuButton language={language} />
</section>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    const fadeupWithoutDelayElement = document.querySelector("[data-reveal-on-load]") as HTMLElement;
    const fadeupDelayedElement = document.querySelector("[data-reveal-on-load-delayed]") as HTMLElement;
    const howLongDelayed = Number(fadeupDelayedElement.getAttribute("data-reveal-on-load-delayed") ?? "0");
    fadeupWithoutDelayElement.classList.add("opacity-100");
    setTimeout(() => {
      fadeupDelayedElement.classList.add("opacity-100");
    }, howLongDelayed);
  });
</script>
