---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import NavModal from "../components/modal/Nav.astro";
import FetchProcessingModal from "../components/modal/FetchProcessing.astro";
import FetchCompleteModal from "../components/modal/FetchComplete.astro";
import MenuButton from "../components/MenuButton.astro";
import type { Languages } from "../common/types";
const { language } = Astro.props as { language: Languages };
---

<section
  id="max-width-wrapper"
  class=`text-gray3 font-${language} mx-auto flex min-h-lvh max-w-7xl flex-col justify-between px-5 py-4 duration-1000`
>
  <Header language={language} />
  <section id="slot-wrapper" class="py-20 opacity-0 delay-300 duration-1000 md:px-5 md:py-14" data-reveal-on-load>
    <slot />
  </section>
  <Footer language={language} />
  <NavModal language={language} />
  <FetchProcessingModal language={language} />
  <FetchCompleteModal language={language} />
  <MenuButton language={language} />
</section>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    document.querySelector<HTMLElement>("[data-reveal-on-load]")!.classList.add("opacity-100");
  });
</script>
